.tenweb_free_trial_banner {
  background: transparent linear-gradient(99deg, #008A62 0%, #23B536 100%) 0% 0% no-repeat padding-box;
  margin: 40px 0px -20px 0px;
  position: relative;
  width:100%;
}

#tenweb_free_trial_banner_close:before {
  content: "\2715";
  position: absolute;
  top: 12px; right: 15px;
  cursor: pointer;
  font-size: 13px;
  color: #fff;
}
#tenweb_free_trial_banner_close:hover:before {
  opacity: 70%;
}

.tenweb_free_trial_banner_container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:10px auto;
}

.tenweb_free_trial_banner_img {
  flex-basis: 19%;
  height: 117px;
  background-image: url(images/free_trial_banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tenweb_free_trial_banner_info {
  flex-basis: 62%;
}

.tenweb_free_trial_banner_info .tenweb_icon {
  background-image: url(images/tenweb_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0 8px;
  width: 80px;
  height: 22px;
}

.tenweb_free_trial_banner_info p {
  letter-spacing: 0.13px;
  line-height: normal;
  font-size: 16px;
  font-weight: 700;
  margin:0 0 10px 0;
  color: #fff;
}

.tenweb_free_trial_banner_info > div span {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: normal;
  font-weight: 500;
  margin-right: 10px;
  color: #fff;
}

.tenweb_free_trial_banner_info > div span:before {
  content: "\2022";
  width: 5px;
  height: 5px;
  color:#DB9D2D;
  margin-right: 5px;
}

.tenweb_free_trial_banner_button {
  flex-basis: 23%;
}

.tenweb_free_trial_banner_button .ftb-button {
  color: #fff;
  border-radius: 25px;
  font-size: 14px;
  letter-spacing: 0.12px;
  font-weight: 500;
  line-height: 19px;
  padding: 11px 45px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #F8C332;
  background-color: #F8C332;
}

.tenweb_free_trial_banner_button .ftb-button:hover,
.tenweb_free_trial_banner_button .ftb-button:focus {
  background-color: #f9bb11;
  border: 1px solid #f9bb11;
  box-shadow: none;
  outline:none;
}

@media screen and (max-width: 1640px) {
  .tenweb_free_trial_banner_container {
    width: 80%;
  }
}
@media screen and (max-width: 1380px) {
  .tenweb_free_trial_banner_container {
    width: 90%;
  }
}
@media screen and (max-width: 1280px) {
  .tenweb_free_trial_banner {
    max-width: 1062px;
    margin: 40px 0px -20px 0px;
  }
  .tenweb_free_trial_banner_container {
    width: 99%;
  }
  .tenweb_free_trial_banner_img {
    flex-basis: 20%;
  }
  .tenweb_free_trial_banner_info {
    flex-basis: 65%;
  }
  .tenweb_free_trial_banner_button {
    flex-basis: 23%;
  }
}
@media screen and (max-width: 1170px) {
  .tenweb_free_trial_banner_img {
    flex-basis: 19%;
  }
  .tenweb_free_trial_banner_info {
    flex-basis: 72%;
  }
  .tenweb_free_trial_banner_info p {
    font-size: 13px;
  }
  .tenweb_free_trial_banner_info > div span {
    font-size: 12px;
  }
  .tenweb_free_trial_banner_button .ftb-button {
    padding: 8px 30px;
  }
}

@media screen and (max-width: 1023px) {
  .tenweb_free_trial_banner_container {
    padding: 18px 22px;
  }
  .tenweb_free_trial_banner_img {
    display: none;
  }
  .tenweb_free_trial_banner_info {
    flex-basis: 75%;
  }
  .tenweb_free_trial_banner_info p {
    letter-spacing: 0.11px;
    font-size: 13px;
  }
  .tenweb_free_trial_banner_info > div span {
    font-size: 12px;
  }
  .tenweb_free_trial_banner_button {
    flex-basis: 27%;
  }
}

@media screen and (max-width: 730px) {
  .tenweb_free_trial_banner_container {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    width: 90%;
  }
  .tenweb_free_trial_banner_container > div {
    flex-basis: 100%;
  }
  .tenweb_free_trial_banner_info .tenweb_icon {
    margin: 0 auto 5px;
  }
  .tenweb_free_trial_banner_container>div.tenweb_free_trial_banner_info {
    margin: 15px auto;
  }
  .tenweb_free_trial_banner_info p {
    font-size: 14px;
  }
  .tenweb_free_trial_banner_info .tenweb_info_sec {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tenweb_free_trial_banner_info .tenweb_info_sec span:nth-child(1) {
    order: 1;
  }
  .tenweb_free_trial_banner_info .tenweb_info_sec span:nth-child(2) {
    order: 4;
  }
  .tenweb_free_trial_banner_info .tenweb_info_sec span:nth-child(3) {
    order: 3;
  }
  .tenweb_free_trial_banner_info .tenweb_info_sec span:nth-child(4) {
    order: 2;
  }
  .tenweb_free_trial_banner_info > div span {
    margin-right: 7px;
    margin-bottom: 5px;
  }
  .tenweb_free_trial_banner_info > div span:before {
    margin-right: 4px;
  }
  .tenweb_free_trial_banner_container>div.tenweb_free_trial_banner_button {
    margin: 0 auto 15px;
  }
}
